<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet" />
            <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet"/>
            <script src="{{ asset('assets/js/jquery-3.3.1.min.js') }}"></script>
            <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('assets/js/jquery-ui.min.js') }}"></script>
        {% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ path('homepage') }}" >SymfonyShop</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                {% if is_granted('ROLE_USER') %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categories
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        {{ render(controller('App\\Controller\\BaseController::showCategory')) }}
                    </div>
                </li>
                {% endif %}
            </ul>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mx-auto">
                {% if not is_granted('ROLE_USER') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_register') }}">Register</a>
                </li>
                {% endif %}
                {% if is_granted('ROLE_USER') %}
                <li class="nav-item dropdown mr-auto ">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ path('product_index') }}">Products</a>
                        <a class="dropdown-item" href="{{ path('category_index') }}">Categories</a>
                    </div>
                </li>
                <li class="nav-item dropdown mr-auto ">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Profile
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ path('account') }}">Account</a>
                        <a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a>
                    </div>
                </li>
                {% endif  %}
            </ul>
        </div>
    </nav>

        <div class = "container-fluid text-center">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
            {% block body %}{% endblock %}
            {% block javascripts %}
            {% endblock %}
        </div>
    </body>
</html>
