{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
    <h1>Categories</h1>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Date of creation</th>
                <th>Date of last modification</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.description }}</td>
                <td>{{ category.dateOfCreation ? category.dateOfCreation|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ category.dateOfLastModification ? category.dateOfLastModification|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('category_show', {'id': category.id}) }}">
                        <button type = "button" class = "btn btn-dark">Show</button>
                    </a>
                    <a href="{{ path('category_edit', {'id': category.id}) }}">
                        <button type = "button" class = "btn btn-primary">Edit</button>
                    </a>
                </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('category_new') }}">
        <button type = "button" class = "btn btn-secondary">Create New</button>
    </a>
{% endblock %}
