{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <h1>Category</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ category.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ category.description }}</td>
            </tr>
            <tr>
                <th>Date of creation</th>
                <td>{{ category.dateOfCreation ? category.dateOfCreation|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date of last modification</th>
                <td>{{ category.dateOfLastModification ? category.dateOfLastModification|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>List of products in this category</th>
                <td>{% for products in category.products %}
                        <a href="{{ path('product_show', {'id': products.id}) }}">{{  products.name }}</a>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('category_index') }}">
    <button type = "button" class = "btn btn-secondary">Back to list</button>
    </a>

    <a href="{{ path('category_edit', {'id': category.id}) }}">
        <button type = "button" class = "btn btn-primary">Edit</button>
    </a>

    {{ include('category/_delete_form.html.twig') }}
{% endblock %}
