{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <h1>Category: {{ category.name }} </h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ category.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ category.description }}</td>
            </tr>
            <tr>
                <th>Date of creation</th>
                <td>{{ category.dateOfCreation ? category.dateOfCreation|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date of last modification</th>
                <td>{{ category.dateOfLastModification ? category.dateOfLastModification|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
    <div>
        <h3>List of products in this category</h3>
            <ul class="list-unstyled">
                {% for product in category.products %}
                    <li class="mt-4">
                        <a href="{{ path('product_show', {'id': product.id}) }}">{{ product.name }} </a>
                    </li>
                    <li class="mb-2">
                        <img src="{{ asset(product.getMainImage) }}" height="200" width="250"/>
                    </li>
                    <a href="{{ path('cart_index') }}">
                        <button id="add_cart" data-id="{{ product.id }}" type="button" class="btn btn-warning" data-url="{{ path('cart_add', {'id': product.id}) }}" >Add to Cart</button>
                    </a>
                {% endfor %}
            </ul>
    </div>
    {%  if is_granted('isUser', category) %}
        <a href="{{ path('category_edit', {'id': category.id}) }}">
            <button type = "button" class = "btn btn-primary">Edit</button>
        </a>

        <p>{{ include('category/_delete_form.html.twig') }} </p>
        <a href="{{ path('category_index') }}">
            <button type = "button" class = "btn btn-secondary">Back to list</button>
        </a>
    {% endif %}

    <script type="text/javascript">
        $(document).ready(function () {
            $('#add_cart').click(function () {
                var id = $(this).data('id');
                var url = $(this).data('url');
                $.ajax({
                    url: url,
                    type: "GET",
                    data: {id: id},
                    success: function () {
                        console.log(id);
                    }
                });
            });
        });
    </script>

{% endblock %}
