{{ form_start(form) }}
    {{ form_errors(form.name) }}
    <div class="container text-center">
        <div class="col mx-auto">
            <div class = "row justify-content-center">
                {{ form_label(form.name) }}
            </div>
            <div class = "row justify-content-center">
                {{ form_widget(form.name) }}
            </div>
        </div>
        <div class="col mx-auto">
            <div class = "row justify-content-center">
                {{ form_label(form.description) }}
            </div>
            <div class = "row justify-content-center">
                {{ form_widget(form.description) }}
            </div>
        </div>
        <div class="col mx-auto">
            <div class = "row justify-content-center">
                {{ form_label(form.price) }}
            </div>
            <div class = "row justify-content-center">
                {{ form_widget(form.price) }}
            </div>
        </div>
        <div class="col mx-auto">
            <div class = "row justify-content-center">
                {{ form_label(form.category) }}
            </div>
            <div class = "row justify-content-center">
                {{ form_widget(form.category) }}
            </div>
            <div class="col mx-auto">
                <div class = "row justify-content-center">
                    {{ form_label(form.images) }}
                </div>
                <div class = "row justify-content-center">
                    {{ form_widget(form.images) }}
                </div>
        </div>
    </div>
    <button class="btn btn-primary mt-2" id="save_btn">{{ button_label|default('Save') }} </button>
{{ form_end(form) }}