{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}
    <h1>Products</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Date of creation</th>
                <th>Date of last modification</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }} $ </td>
                <td>{{ product.dateOfCreation ? product.dateOfCreation|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ product.dateOfLastModification ? product.dateOfLastModification|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    {%  if is_granted('isUser', product) %}
                        <a href="{{ path('product_show', {'id': product.id}) }}">
                            <button type = "button" class = "btn btn-dark">Show</button>
                        </a>
                        <a href="{{ path('product_edit', {'id': product.id}) }}">
                            <button type = "button" class = "btn btn-primary">Edit</button>
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('product_new') }}">
        <button type = "button" class = "btn btn-secondary">Create New</button>
    </a>

{% endblock %}
